body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    background: url('../img/bg.png') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding-bottom: 85px; /* to make room for footer */
}

html {
    position: relative;
    min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    font-size: 1.25em;
    line-height: 1.6;
    color: #000;
}

hr {
    max-width: 400px;
    border-color: #999999;
}

.round {
    border-radius: 3px;
}

.custom-page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #afafaf;
}

.carousel-control {
    border-radius: 10px;
}

.brand,
.address-bar {
    display: none;
}

.navbar-brand {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
}

.navbar-nav {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
}

.brand-before,
.brand-name {
    text-transform: capitalize;
}

.brand-before {
    margin: 15px 0;
}

.brand-name {
    margin: 0;
    font-size: 4em;
}

.tagline-divider {
    margin: 15px auto 3px;
    max-width: 250px;
    border-color: #999999;
}

.box {
    margin-bottom: 30px;
    padding: 30px 15px;
    background: #fff;
    background: rgba(255,255,255,0.9);
    border-radius: 2px;
    box-shadow: 5px 5px 50px #151515;
}

.shadow {
    box-shadow: 5px 5px 50px #151515;
}

.intro-text {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 1px;
}

@media screen and (min-width:768px) {
    .brand {
        display: inherit;
        margin: 0;
        padding: 30px 0 10px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        font-family: 'Libre Baskerville', serif;
        /*font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;*/
        font-size: 5em;
        font-weight: 700;
        line-height: normal;
        color: #fff;
    }

    .top-divider {
        margin-top: 0;
    }

    .img-left {
        float: left;
        margin-right: 25px;
    }

    .address-bar {
        display: inherit;
        margin: 0;
        padding: 0 0 40px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        text-transform: uppercase;
        font-size: 1.25em;
        font-weight: 400;
        letter-spacing: 3px;
        color: #fff;
    }

    .navbar {
        border-radius: 0;
    }

    .navbar-header {
        display: none;
    }

    .navbar {
        min-height: 0;
    }

    .navbar-default {
        border: none;
        background: #fff;
        background: rgba(255,255,255,0.9);
    }

    .nav>li>a {
        padding: 35px;
    }

    .navbar-nav>li>a {
        line-height: normal;
    }

    .navbar-nav {
        display: table;
        float: none;
        margin: 0 auto;
        table-layout: fixed;
        font-size: 1.25em;
    }
}

/*##########################################*/
/* Img */
/*##########################################*/

.carousel-img {
    border-radius: 10px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.img-full {
    min-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.img-large{
    max-width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.img-medium{
    max-width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.img-small {
    max-width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}


.img-border {
    float: none;
    margin: 0 auto 0;
    border: #999999 solid 1px;
}

.img-left {
    float: none;
    margin: 0 auto 0;
}

/*##########################################*/
/* Icon */
/*##########################################*/

.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
}

    .icon:before {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-transform: none !important;
    }

    .icon > .label {
        display: none;
    }

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

    ul.icons li {
        display: inline-block;
        padding: 0 1.25em 0 0;
    }

        ul.icons li:last-child {
            padding-right: 0 !important;
        }

        ul.icons li .icon {
            border-radius: 0.5em;
            border: solid 1px rgba(144, 144, 144, 0.25);
            color: #949494 !important;
            display: inline-block;
            font-size: 1.25em;
            height: 2.75em;
            line-height: 2.75em;
            text-align: center;
            width: 2.75em;
        }

        ul.icons li a.icon {
            -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
            -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
            -o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
            -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
            transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        }

            ul.icons li a.icon:hover {
                background-color: rgba(144, 144, 144, 0.075);
            }

            ul.icons li a.icon:active {
                background-color: rgba(144, 144, 144, 0.2);
            }

/*##########################################*/
/* Footer */
/*##########################################*/

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(255,255,255,0.9);
}

footer p {
    margin: 0;
    padding: 50px 0;
}

    #footer {
        color: #949494;
        padding: 1em 0;
        text-align: center;
    }
/*##########################################*/


@media screen and (min-width:1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}