<!DOCTYPE html>
<html lang="en">

{% include 'components/head.html' %}

<body>

    {% include 'components/banner.html' %}

    {% include 'components/navbar.html' %}
    
    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Check out my 
                        <strong>columns!</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="{{ url_for('static', filename='img/daily.jpg') }}" alt="">
                    <h2>
                        <br>
                        <small>Yeah, I write biweekly columns for the Daily Princetonian! </small>
                    </h2>
                    <p>I love writing. Sometimes, the best way to think is to write. Some columns are good, some are not so good. But hey, as long as I can keep shouting my opinions to the world, I'm happy!</p>
                    <p>Anyway, here's a link to my profile.</p>
                    <a href="http://dailyprincetonian.com/author/christian-wawrzonek/"><strong>Link - Hyuh!</strong></a>
                    <p>Check out the column "Lessons from the inside" to hear about my experiences with the NYPD this summer. Oh, and please excuse the terrible picture. I've been meaning to get that changed...</p>
                </div>
                <!--
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="img/slide-2.jpg" alt="">
                    <h2>Post Title
                        <br>
                        <small>October 13, 2013</small>
                    </h2>
                    <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                    <a href="#" class="btn btn-default btn-lg">Read More</a>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-border img-full" src="img/slide-3.jpg" alt="">
                    <h2>Post Title
                        <br>
                        <small>October 13, 2013</small>
                    </h2>
                    <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                    <a href="#" class="btn btn-default btn-lg">Read More</a>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <ul class="pager">
                        <li class="previous"><a href="#">&larr; Older</a>
                        </li>
                        <li class="next"><a href="#">Newer &rarr;</a>
                        </li>
                    </ul>
                </div>
            -->
            </div>
        </div>

    </div>
    <!-- /.container -->

    {% include 'components/footer.html' %}

    {% include 'components/scripts.html' %}
    
</body>

</html>
