<!DOCTYPE html>
<html lang="en">

{% include 'components/head.html' %}

<body>

    {% include 'components/navbar.html' %}

    {% include 'components/banner.html' %}

    <div class="container">

        <div class="box">
            <div class="row">
                <div class="col-lg-12 text-center">

                    <div class="image">
                    <img class="img-large img-border round" src="{{ url_for('static', filename='img/net_wide.png') }}">
                    <div style="font-size:80%;text-align:right;max-width:90%;"><i>Artist: Peter Trevelyan</i></div>
                    </div>

                    <h1 class="brand-name" style="margin-top:50px;">Welcome</h1>
                    <hr class="tagline-divider">
                    <h2>
                        <small> ATTENTION! </small>
                    </h2>
                    <p text-align="center"> As of April 2017, my current project is resurrecting this piece of junk website. It is currently very much under construction. Most of this site is very outdated and will slowly be upgraded. Check back in a few months for an up-to-date version. Thanks </p>
                </div>
            </div>
        </div>
        
        <div class="box">
            <div class="row">
                <div class="col-lg-12">
                    <!-- <p></p> -->
                    <p></p>
                    <p>"The consistently one attempts to adhere to an ideology, the more one's sanity becomes a series of unprincipled exceptions."</p>
                    <p>-<a href="https://twitter.com/graaaaaagh/status/563306761751257089">@graaaaaah</a></p>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

    {% include 'components/footer.html' %}

    {% include 'components/scripts.html' %}

</body>

</html>
