<!DOCTYPE html>
<html lang="en">

{% include 'components/head.html' %}

<body>

    {% include 'components/navbar.html' %}

    <div class="container">

        {% include 'posts/' + context.post.prefix + '.html' %}

    </div>
    <!-- /.container -->

    {% include 'components/footer.html' %}

    {% include 'components/scripts.html' %}

    <!-- MathJax -->
    <script type="text/x-mathjax-config">

    MathJax.Hub.Config({
    tex2jax: { inlineMath: [["$","$"],["\\(","\\)"]] },
    "HTML-CSS": {
      linebreaks: { automatic: true, width: "container" }          
    }              
    });

    window.addEventListener('resize', MJrerender);
    function MJrerender(){
        MathJax.Hub.Queue(["Rerender",MathJax.Hub])
    };

    </script>
    <script type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS_HTML">
    </script>

</body>

</html>
