<!DOCTYPE html>
<html lang="en">

{% include 'components/head.html' %}

<body>

    {% include 'components/navbar.html' %}

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center"><strong>Resume - as of fall 2014</strong>
                    </h2>
                    <hr class="tagline-divider">
                    <p style="text-align:center;">For an up-to-date resume, please email me at cjwawrzonek@gmail.com</p>
                    <hr>
                </div>
                <div class="col-md-6">
                    <h3>Education</h3>
                        <h4>PRINCETON UNIVERSITY (SEPTEMBER 2012 - JUNE 2016)</h4>
                            <ul>• Major: Computer Science</ul>
                            <ul>• Intended Certificates: Neuroscience, Statistics and Machine Learning</ul>
                            <ul>• Cumulative GPA: 3.6</ul>
                    <h3>Experience</h3>
                        <h4>NEW YORK CITY POLICE DEPARTMENT – DATA ANALYST SUMMER INTERN (SUMMER 2014)</h4>
                            <ul>• Developed robust computational model to track and predict crime density of major crimes across New York City</ul>
                            <ul>• Developed primarily in R with work in Java and Python (numpy/scipy)</ul>
                            <ul>• Implemented basic machine learning algorithms - linear regressions, probability trees, k-nearest neighbor, etc.</ul>
                        <h4>PRINCETON POWER IN A BOX – TEAM LEADER (2013 – 2014)</h4>
                            <ul>• Lead the construction and improvement of the solar panel deployment system on Princeton’s Power-in-a-Box, a federally funded project designed to provide portable renewable energy</ul>
                            <ul>• Worked with a $30,000 dollar project budget.  Placed purchasing orders on a regular basis to McMaster-Carr, among others.  Contracted and hired paid specialists to perform outside work such as welding, brazing, or painting.</ul>
                            <ul>• Presented to the EPA at the People, Prosperity, and the Planet conference (April 2014).</ul>
                        <h4>Daily Princetonian</h4>
                            <ul>• Contributing biweekly columnist</ul>
                    <h3>Computer Projects</h3>
                        <h4>IMPROVED COMPUTATIONAL NEURAL NETWORK MODEL OF PROSPECTIVE MEMORY</h4>
                            <ul>• Implemented statistical functions to optimize behavioral fit and improved working model dynamics</ul>
                            <ul>• Developed in MATLAB</ul>
                    <h3>Athletics</h3>
                        <h4>VARSITY ATHLETE - LIGHTWEIGHT ROWING TEAM (2012 – PRESENT)</h4>
                    <h3>Community<h3>
                        <h4>TEACHING INTERN, GLEN MONTESSORI SCHOOL (SUMMER 2013)</h4>
                            <ul>• Created and managed lesson plans for elementary students</ul>
                            <ul>• Taught basic French and Performing Arts</ul>
                        <h4>TROPICAL CLINICS FOR RURAL HEALTH (2012 – 2013)</h4>
                            <ul>• Responsible for reaching out to organizations and universities and aid in the construction process of new TCRH Chapters</ul>
                        <h4>FOUNDING MEMBER - PRINCETON UNIVERSITY CLUB CROQUET (2013 – PRSENT)</h4>
                            <ul>• Founding member and Co-Administrator</ul>
                            <ul>• Schedule practices, find practice spaces, manage finances, schedule competition</ul>
                    <h3>Awards<h3>
                        <h4>PRINCETON UNIVERSITY AIX-EN-PROVENCE PROGRAM (SUMMER 2013)</h4>
                        <h4>REMKUS-SOCHACKI ACADEMIC ACHIEVEMENT SCHOLARSHIP – POLISH WOMEN’S ALLIANCE (2014-2016)</h4>
                    <h3>Skills</h3>
                        <ul>• Proficient in Java, C, x86, R, MATLAB with experience in HTML/CSS, MIPS, and Python</ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <!--
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Our
                        <strong>Team</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h3>John Smith
                        <small>Job Title</small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h3>John Smith
                        <small>Job Title</small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                    <h3>John Smith
                        <small>Job Title</small>
                    </h3>
                </div>
                <div class="clearfix"></div>
            </div>
        </div> -->

    </div>
    <!-- /.container -->

    {% include 'components/footer.html' %}

    {% include 'components/scripts.html' %}
    
</body>

</html>
